<h1 style="font-family : sans" align="center" ><b>INTRODUCTION TO PYTHON FOR DATA SCIENCE</b>
<img width="70" src= "https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" align = "right"></h1>
<hr>
<h2 align="center"><b>3.Pandas-1</b></h2>
<h2 align="center"><b>26 JANUARY, 2023 </b></h2>
<hr>

## 1. INTRODUCTION TO PANDAS

``pandas`` is a library for data manipulation and analysis in Python programming language. In particular, it offers data structures and operations for manipulating numerical data.
The main data structure is the `DataFrame`, which you can think of as an in-memory 2D table (like a spreadsheet, with column names and row labels).

In [ ]:
import pandas as pd

## TASK 1:

In [ ]:
# Check the version of pandas installed:

In [ ]:
import numpy as np

# 2.Major Data Structures
The `pandas` library contains these useful data structures:
* `Series` objects: A `Series` object is 1D array, similar to a column in a spreadsheet (with a column name and row labels).
* `DataFrame` objects. This is a 2D table, similar to a spreadsheet (with column names and row labels).
* `Panel` objects. You can see a `Panel` as a dictionary of `DataFrame`s. These are less used, so we will not discuss them here.

## 2.1 Pandas Series
Pandas ``Series`` is a one-dimensional array of indexed data. It can be created from a list or array as follows:

In [ ]:
s = pd.Series([2,-1,3,5])
s

## Similar to a 1D `ndarray`
`Series` objects behave much like one-dimensional NumPy `ndarray`s, and you can often pass them as parameters to NumPy functions:

In [ ]:
import numpy as np
np.exp(s)

In [ ]:
np.exp(1)

In [ ]:
s + [1000,2000,3000,4000]

## TASK 2:

In [ ]:
#  Check for broadcasting by adding 1000 to s and check if conditionals work by setting s to be negative
print(s+1000)
print(s<0)

As we see in the output, the ``Series`` wraps both a sequence of values and a sequence of indices, which we can access with the ``values`` attributes.
The ``values`` are simply a familiar NumPy array:

In [ ]:
s.values

In [ ]:
type(s.values)

## TASK 3:

In [ ]:
# in the similar way index are also stored, check it!  Is it also a numpy array , What is the difference?

In [ ]:
s[1]

In [ ]:
s[1:3]

In [ ]:
# Explicitr indexing

data = pd.Series([0.25, 0.5, 0.75, 1.0],index=['a', 'b', 'c', 'd'])
data

In [ ]:
print(data.index)
print(type(data.index))

In [ ]:
data['c']

In [ ]:
data.values[1]=0.6
data['a']=0.35
data

## TASK 4:

In [ ]:
# Guess the output

data.index['a']='e'

## TASK 5:

In [ ]:
# Extract 'a' from data series

data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

In [ ]:
print(data[1])
print(data[1:3])

These slicing and indexing conventions can be a source of confusion. For example, if your Series has an explicit integer index, an indexing operation such as data[1] will use the explicit indices, while a slicing operation like data[1:3] will use the implicit Python-style index.

To make it clear when you are accessing by label or by integer location, it is recommended to always use the `loc` attribute when accessing by label, and the `iloc` attribute when accessing by integer location:

In [ ]:
print(data.loc[1])
print(data.iloc[1])

In [ ]:
print(s)
s.iloc[1:3]

In [ ]:
# Note how the index were also sliced.

In [ ]:
# Series from a dicrtionary

population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Florida': 9000,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

In [ ]:
population['California']

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])  # Note how only specified index stayed and in that order.

In [ ]:
s2 = pd.Series([68, 83, 112, 68], index=["alice", "bob", "charles", "darwin"])
s2

In [ ]:
weights = {"alice": 68, "bob": 83, "colin": 86, "darwin": 68}
s3 = pd.Series(weights)
s3

## TASK 6:

In [ ]:
# Guess the output:

print(s2.keys())
print(s3.keys())

s2 + s3

In [ ]:
type(np.nan)

The resulting `Series` contains the union of index labels from `s2` and `s3`. Since `"colin"` is missing from `s2` and `"charles"` is missing from `s3`, these items have a `NaN` result value. (ie. Not-a-Number means *missing*).

Automatic alignment is very handy when working with data that may come from various sources with varying structure and missing items. But if you forget to set the right index labels, you can have surprising results:

In [ ]:
s5 = pd.Series([1000,1000,1000,1000])
print("s2 =", s2.values)
print("s5 =", s5.values)

s2 + s5

# `DataFrame` objects
A DataFrame object represents a spreadsheet, with cell values, column names and row index labels. You can define expressions to compute columns based on other columns, group rows, draw graphs, etc. You can see `DataFrame`s as dictionaries of `Series`.

## Creating a `DataFrame`
You can create a DataFrame by passing a dictionary of `Series` objects:

In [ ]:
people_dict = {
    "weight": pd.Series([68, 83, 112], index=["alice", "bob", "charles"]),
    "birthyear": pd.Series([1984, 1985, 1992], index=["bob", "alice", "charles"], name="year"),
    "children": pd.Series([0, 3], index=["charles", "bob"]),
    "hobby": pd.Series(["Biking", "Dancing"], index=["alice", "bob"]),
}
people = pd.DataFrame(people_dict)
people

A few things to note:
* the `Series` were automatically aligned based on their index,
* missing values are represented as `NaN`,
* `Series` names are ignored (the name `"year"` was dropped)

In [ ]:
people["birthyear"]

In [ ]:
type(people["birthyear"])

## TASK 7:

In [ ]:
# Fetch the birthyear and hobby column of people dataframe
people[["birthyear","hobby"]]

Another convenient way to create a `DataFrame` is to pass all the values to the constructor as an `ndarray`, or a list of lists, and specify the column names and row index labels separately:

## TASK 8:  Figure out why this code is not working

In [ ]:
values = [
            [1985, np.nan, "Biking",   68],
            [1984, 3,      "Dancing",  83],
            [1992, 0,      np.nan,    112]
         ]
d3 = pd.DataFrame(
        values,
        columns=["birthyear", "children", "hobby", "weight"],
        index=["alice", "bob", "charles"]
     )
d3

In [ ]:
# passing another dataframe as input:

d4 = pd.DataFrame(
         d3,
         columns=["hobby", "children"],
         index=["alice", "bob"]
     )
d4

## Most methods return modified copies
Most methods do not modify the object they apply to. Instead, they work on a copy and return that copy.

In [ ]:
people

The `loc` attribute lets you access rows instead of columns. The result is a `Series` object in which the `DataFrame`'s column names are mapped to row index labels:

In [ ]:
people.loc["charles"]

In [ ]:
people.iloc[2]

In [ ]:
people.iloc[1:3]

In [ ]:
people[people["birthyear"] < 1990]

## Adding and removing columns
You can generally treat `DataFrame` objects like dictionaries of `Series`, so the following work fine:

In [ ]:
people["age"] = 2018 - people["birthyear"]  # adds a new column "age"
people["over 30"] = people["age"] > 30      # adds another column "over 30"
birthyears = people.pop("birthyear")
del people["children"]

people

When you add a new colum, it must have the same number of rows. Missing rows are filled with NaN, and extra rows are ignored:

In [ ]:
people["pets"] = pd.Series({"bob": 0, "charles": 5, "eugene":1})  # alice is missing, eugene is ignored
people

In [ ]:
people.insert(1, "height", [172, 181, 185])
people

In [ ]:
body_mass_index = people["weight"] / (people["height"] / 100) ** 2

In [ ]:
people

In [ ]:
people["has pets"]=people["pets"] > 0

In [ ]:
people

## TASK 9:

In [ ]:
# Create a column to calculate BMI(Body-Mass Index)  Note: Height needs to be in mts.

people["BMI"] = people["weight"] / (people["height"] / 100) ** 2

In [ ]:
people

In [ ]:
people.eval("weight / (height/100) ** 2 > 25")

In [ ]:
people.eval("body_mass_index = weight / (height/100) ** 2", inplace=True)
people

## Querying a `DataFrame`
The `query()` method lets you filter a `DataFrame` based on a query expression:

In [ ]:
people.query("age > 30 and pets == 0")

In [ ]:
people.sort_index(ascending=False)

Note that `sort_index` returned a sorted *copy* of the `DataFrame`. To modify `people` directly, we can set the `inplace` argument to `True`. Also, we can sort the columns instead of the rows by setting `axis=1`:

In [ ]:
people.sort_index(axis=1, inplace=True)
people

In [ ]:
people.sort_values(by="age", inplace=True)
people

## Operations on `DataFrame`s

In [ ]:
grades_array = np.array([[8,8,9],[10,9,9],[4, 8, 2], [9, 10, 10]])
grades = pd.DataFrame(grades_array, columns=["sep", "oct", "nov"], index=["alice","bob","charles","darwin"])
grades

In [ ]:
grades + 1

## TASK 10:

In [ ]:
# just like exponentiating a series , find square root of all values in the dataframe grades:

In [ ]:
grades.columns

In [ ]:
grades >= 5

In [ ]:
grades.mean()

The `all` method is also an aggregation operation: it checks whether all values are `True` or not.

In [ ]:
(grades > 5).all()

In [ ]:
(grades > 5).all(axis = 1)

The `any` method returns `True` if any value is True. Let's see who got at least one grade 10:

## TASK 11:

In [ ]:
# Check who got atleast one grade 10

If you add a `Series` object to a `DataFrame` (or execute any other binary operation), pandas attempts to broadcast the operation to all *rows* in the `DataFrame`. This only works if the `Series` has the same size as the `DataFrame`s rows. For example, let's subtract the `mean` of the `DataFrame` (a `Series` object) from the `DataFrame`:

In [ ]:
grades - grades.mean()  # equivalent to: grades - [7.75, 8.75, 7.50]

## Handling missing data
Dealing with missing data is a frequent task when working with real life data. Pandas offers a few tools to handle missing data.

In [ ]:
people.fillna(0)

In [ ]:
a = np.array([[0,np.nan,2],[np.nan,1,0],[0, 1, 0], [3, 3, 0]])
m = pd.DataFrame(a, columns=["oct", "nov", "dec"], index=["bob","colin", "darwin", "charles"])
m

In [ ]:
m.interpolate(axis=1)

By default, it interpolates vertically (`axis=0`), so let's tell it to interpolate horizontally (`axis=1`).

In [ ]:
m1 = m.copy()
m1.insert(0, "sep", 0)

In [ ]:
m1

In [ ]:
m1 = m1.interpolate(axis=1)
m1

In [ ]:
grades

In [ ]:
grades["dec"] = np.nan

In [ ]:
grades

In [ ]:
grade = grades.dropna(axis=1, how="all")  # Choosing any drops when atleast one entry is NaN, not setting axis does rowwise
grade

### 4.1 Mount Drive (Need Only for Colab, not required in case of Local)

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

# CSV FILES

In [ ]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

In [ ]:
states = pd.DataFrame({'population': population,'area': area})
states

In [ ]:
states.to_csv('states.csv')

In [ ]:
df = pd.read_csv('states.csv')
df

In [ ]:
df_2 = pd.read_csv('states.csv',header=0,usecols=["population", "area"])
df_2


`pd.read_csv(filepath_or_buffer, sep=’ ,’ , header=’infer’,  index_col=None, usecols=None, engine=None, skiprows=None, nrows=None) `

Parameters:  

*   `filepath_or_buffer:` It is the location of the file which is to be retrievedusing this function. It accepts any string path or URL of the file.
*   `sep`: It stands for separator, default is ‘, ‘ as in CSV(comma separated values).

*   `header`: It accepts int, a list of int, row numbers to use as the column names, and the start of the data. If no names are passed, i.e., header=None, then,  it will display the first column as 0, the second as 1, and so on.
*   `usecols`: It is used to retrieve only selected columns from the CSV file.
*   `nrows`: It means a number of rows to be displayed from the dataset.
*  ` index_col`: If None, there are no index numbers displayed along with records.  
*   `skiprows`: Skips passed rows in the new data frame.

In [ ]:
much_data = np.fromfunction(lambda x,y: (x+y*y)%17*11, (10000, 26))
large_df = pd.DataFrame(much_data, columns=list("ABCDEFGHIJKLMNOPQRSTUVWXYZ"))
large_df[large_df % 16 == 0] = np.nan
large_df.insert(3,"some_text", "Blabla")
large_df

In [ ]:
large_df.head()

In [ ]:
large_df.tail(n=2)

In [ ]:
large_df.info()

In [ ]:
large_df.describe()

# Combining `DataFrame`s

## SQL-like joins
One powerful feature of pandas is it's ability to perform SQL-like joins on `DataFrame`s. Various types of joins are supported: inner joins, left/right outer joins and full joins.

In [ ]:
city_loc = pd.DataFrame(
    [
        ["CA", "San Francisco", 37.781334, -122.416728],
        ["NY", "New York", 40.705649, -74.008344],
        ["FL", "Miami", 25.791100, -80.320733],
        ["OH", "Cleveland", 41.473508, -81.739791],
        ["UT", "Salt Lake City", 40.755851, -111.896657]
    ], columns=["state", "city", "lat", "lng"])
city_loc

In [ ]:
city_pop = pd.DataFrame(
    [
        [808976, "San Francisco", "California"],
        [8363710, "New York", "New-York"],
        [413201, "Miami", "Florida"],
        [2242193, "Houston", "Texas"]
    ], index=[3,4,5,6], columns=["population", "city", "state"])
city_pop

In [ ]:
pd.merge(left=city_loc, right=city_pop, on="city")

Note that both `DataFrame`s have a column named `state`, so in the result they got renamed to `state_x` and `state_y`.

Also, note that Cleveland, Salt Lake City and Houston were dropped because they don't exist in *both* `DataFrame`s. This is the equivalent of a SQL `INNER JOIN`. If you want a `FULL OUTER JOIN`, where no city gets dropped and `NaN` values are added, you must specify `how="outer"`:

In [ ]:
all_cities = pd.merge(left=city_loc, right=city_pop, on="city", how="outer")
all_cities

Of course `LEFT OUTER JOIN` is also available by setting `how="left"`: only the cities present in the left `DataFrame` end up in the result. Similarly, with `how="right"` only cities in the right `DataFrame` appear in the result. For example:

In [ ]:
pd.merge(left=city_loc, right=city_pop, on="city", how="right")

If the key to join on is actually in one (or both) `DataFrame`'s index, you must use `left_index=True` and/or `right_index=True`. If the key column names differ, you must use `left_on` and `right_on`. For example:

In [ ]:
city_pop2 = city_pop.copy()
city_pop2.columns = ["population", "name", "state"]
pd.merge(left=city_loc, right=city_pop2, left_on="city", right_on="name")

## Concatenation
Rather than joining `DataFrame`s, we may just want to concatenate them. That's what `concat()` is for:

In [ ]:
result_concat = pd.concat([city_loc, city_pop])
result_concat

In [ ]:
result_concat = pd.concat([city_loc, city_pop],ignore_index=True)
result_concat